@import-normalize; /* bring in normalize.css styles */
/* rest of app styles */

html, body, .App {
  height: 100%;
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
  color: #DCE3FF;
  font-size: 10px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
  color: #DCE3FF;
 
  
}

/*-------------------------------------------------------------------------------------------------*/
